table
{
	border: 1px solid red;
	border-collapse: collapse;
	width: 500px;
}

table td
{
	border: 1px solid red;
	padding: 20px;	
}

table tr:hover
{
	background: #ccc;
}

table td:hover
{
	background: black;
	color: white;
}